#contact_book, #add_contact, #show_contacts, #delete_contact, #website-headers{
    text-align: center;
}

body{
    background-color: whitesmoke;
}

#name-div, #number-div, #button-div, #to-home-div, #contacts-title, #contacts, #delete_contacts, #error{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 2%;
}


/* Header css */

#main-header-div{
    display: flex;
    justify-content: space-between;

    
}

#website-header{
    display: flex;
    margin-left: auto;
}

#logo {
    display: flex;
    margin-left: auto;

    width: 100px; /* Fills the parent container */
    height: auto; /* Maintains aspect ratio */
}
