<!-- show contacts html -->
{% extends "abase.html" %}

{% block title %}Show Contacts{% endblock %}

{% block link %}<link rel = "stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}">{% endblock %}

{% block body %}

<h1 id="contacts-title">Contacts: </h1>
<p id="contacts">
    {% for contact in contacts %}

    {{loop.index}}. {{contact[0]}} {{contact[1]}}

    <br><br>
    {% endfor %}
</p>

<p id="to-home-div"><a href="/contact/home">Go Back</a></p>

{% endblock %}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>


</body>
</html>